<h1 
    style="background-color: green;">
    {{network.name}}
</h1>
<button ng-click='rename();'>
    Rename
</button>
<button ng-click='clearNetwork();'>
    Clear
</button>
<button ng-click='removeNetwork();'>
    Remove
</button>
<button ng-click='exitNetwork();'>
    Exit
</button>

<div id="alerts" style='float:bottom;'>
    <h2>Alerts</h2>
    <div ng-repeat='alert in network.alerts'>
        {{timeConverter(alert.time)}}: {{alert.message}}
        <br>
    </div>
</div>

<div id="entities" style="float: left bottom; width: 50%; height: 50%;">
    <!-- <button ng-click="setCurrentTab('listeners');">
        Listeners ({{network.listeners.length}})
    </button> -->
    <button ng-click="setCurrentTab('devices');">
        Devices ({{network.devices.length}})
    </button>
    <button ng-click="setCurrentTab('links');">
        Links ({{network.links.length}})
    </button>
    <button ng-click="setCurrentTab('gateways');">
        Gateways ({{network.gateways.length}})
    </button>
    <div id="gateways" ng-show="currentTab == 'gateways'">
        <span ng-repeat="gtw in network.gateways">
            {{gtw}} <br>
        </span>
    </div>
    <div id="devices" ng-show="currentTab == 'devices'">
        <table style="float: top; overflow-x: auto;" cellspacing="0" border="1">
            <thead style="background-color:darkgray; border: 1;">
                <tr>
                    <th colspan="10">Devices ({{network.devices.length}})</th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Closed</th>
                    <th>IP</th>
                    <th>MAC</th>
                    <th>Hostname</th>
                    <th>#Packets</th>
                    <th>LTS</th>
                    <th>FTS</th>
                    <th>Roles</th>
                    <th>Extra Data</th>
                    <th>Plugins</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="device in network.devices" ng-style="device.idx == trackIdxs[1] && {'background-color': 'blue'} ||
                              device.idx == trackIdxs[2] && {'background-color': 'red'}">
                    <td>{{device.idx}}</td>
                    <td>{{device.isClosed}}</td>
                    <td>{{device.ip || 'Unknown'}}</td>
                    <td>{{device.mac || 'Unknown'}}</td>
                    <td>{{device.hostname || 'Unknown'}}</td>
                    <td>
                        <table>
                            <tr>
                                <td><b>TOTAL</b></td>
                                <td>{{device.packetCounter.total}}</td>
                            </tr>
                            <tr ng-repeat='(key,value) in device.packetCounter.distribution'>
                                <td><b>{{key}}</b></td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>{{timeConverter(device.lastTimeSeen)}}</td>
                    <td>{{timeConverter(device.firstTimeSeen)}}</td>
                    <td>
                        <table>
                            <tr ng-repeat='role in device.roles'>
                                <td>
                                    {{role}}
                                </td>
                                <td>
                                    <button ng-click='removeRole(device, role);'>
                                        -
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button ng-click='addRole(device.uuid);'>
                                        +
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr ng-repeat='(key,value) in device.extraData'>
                                <td><b>{{key}}</b></td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <button ng-repeat="plugin in plugins"
                                ng-click="usePlugin(device.uuid, plugin.uuid);"
                        >
                            {{plugin.name}}
                        </button>
                    </td>
                    <td>
                        <button ng-click="addComment(device.uuid,device.comment);">
                            Comment
                        </button>
                        <button ng-click="closeDevice(device.idx);">
                            Close
                        </button>
                        <button
                            ng-click="getAnalysisData(device);">
                            Analyze
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="deviceAnalysis" ng-show="analysisIdx >= 0">
            <table cellspacing="0" border="1">
                <thead style="background-color: darkgrey;">
                    <tr>
                        <th colspan="5">Device {{analysisIdx}} Packet Analysis</th>
                    </tr>
                    <tr>
                        <th>Timestamp</th>
                        <th>Protocol</th>
                        <th>Layer</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pkt in analysisPackets">
                        <td>{{pkt.time}}</td>
                        <td>{{pkt.protocol}}</td>
                        <td>{{pkt.layer}}</td>
                        <td>{{pkt.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="links" ng-show="currentTab == 'links'">
        <table style="float:bottom;" cellspacing="0" border="1">
            <thead style="background-color:darkgrey;">
                <tr>
                    <th colspan="7">
                        Links ({{network.links.length}})
                    </th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>S. Id</th>
                    <th>T. Id</th>
                    <th>#Hits</th>
                    <th>LTS</th>
                    <th>FTS</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="link in network.links">
                    <td>{{link.idx}}</td>
                    <td ng-style="trackIdxs[0] === link.idx && {'background-color': 'blue'}">
                        {{link.sourceDeviceIdx}}
                    </td>
                    <td ng-style="trackIdxs[0] === link.idx && {'background-color': 'red'}">
                        {{link.targetDeviceIdx}}
                    </td>
                    <td>{{link.hits}}</td>
                    <td>{{timeConverter(link.lastTimeSeen)}}</td>
                    <td>{{timeConverter(link.firstTimeSeen)}}</td>
                    <td>
                        <span ng-show="trackIdxs[0] === link.idx">
                            <a href="#" ng-click="untrack()">Untrack</a>
                        </span>
                        <span ng-show="trackIdxs[0] !== link.idx">
                            <a href="#" ng-click="track(link.idx, link.sourceDeviceIdx, link.targetDeviceIdx);">
                                Track
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="graph">

</div>